<div class="social-share-buttons mt-4">
    <h5>Share this post:</h5>
    <!-- Twitter -->
    <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ post.title }}" target="_blank" class="btn btn-outline-info btn-sm mb-1"><i class="fab fa-twitter"></i> Twitter</a>
    <!-- Facebook -->
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank" class="btn btn-outline-primary btn-sm mb-1"><i class="fab fa-facebook-f"></i> Facebook</a>
    <!-- LinkedIn -->
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ post.title }}&summary={{ post.content|striptags|truncatewords:20 }}" target="_blank" class="btn btn-outline-primary btn-sm mb-1"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
    <!-- Reddit -->
    <a href="https://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ post.title }}" target="_blank" class="btn btn-outline-danger btn-sm mb-1"><i class="fab fa-reddit-alien"></i> Reddit</a>
    <!-- Email -->
    <a href="mailto:?subject={{ post.title }}&body=Check out this post: {{ request.build_absolute_uri }}" class="btn btn-outline-secondary btn-sm mb-1"><i class="fas fa-envelope"></i> Email</a>
</div>
